@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilroy-Light";
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter-Light";
    src: url(../fonts/Inter/Inter-Light.ttf);
}